<a href="https://colab.research.google.com/github/Tonainings/BigDataProject_Poliba/blob/main/BaseDati_ProjectPOLIBA_RegressioneMultipla.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import normalize
import math, copy
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

In [8]:
df=pd.read_csv("_student_prediction.csv")

df.head(10)

,STUDENTID,AGE,GENDER,HS_TYPE,SCHOLARSHIP,WORK,ACTIVITY,PARTNER,SALARY,TRANSPORT,...,PREP_STUDY,PREP_EXAM,NOTES,LISTENS,LIKES_DISCUSS,CLASSROOM,CUML_GPA,EXP_GPA,COURSE ID,GRADE
0,STUDENT1,2,2,3,3,1,2,2,1,1,...,1,1,3,2,1,2,1,1,1,1
1,STUDENT2,2,2,3,3,1,2,2,1,1,...,1,1,3,2,3,2,2,3,1,1
2,STUDENT3,2,2,2,3,2,2,2,2,4,...,1,1,2,2,1,1,2,2,1,1
3,STUDENT4,1,1,1,3,1,2,1,2,1,...,1,2,3,2,2,1,3,2,1,1
4,STUDENT5,2,2,1,3,2,2,1,3,1,...,2,1,2,2,2,1,2,2,1,1
5,STUDENT6,2,2,2,3,2,2,2,2,1,...,1,1,1,2,1,2,4,4,1,2
6,STUDENT7,1,2,2,4,2,2,2,1,1,...,1,1,3,3,3,3,4,4,1,5
7,STUDENT8,1,1,2,3,1,1,1,2,2,...,3,1,3,2,2,1,1,1,1,2
8,STUDENT9,2,1,3,3,2,1,1,1,1,...,1,1,3,2,2,2,4,3,1,5
9,STUDENT10,2,1,2,3,2,2,1,3,4,...,1,1,2,2,2,2,1,2,1,0

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 33 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   STUDENTID      145 non-null    object
 1   AGE            145 non-null    int64
 2   GENDER         145 non-null    int64
 3   HS_TYPE        145 non-null    int64
 4   SCHOLARSHIP    145 non-null    int64
 5   WORK           145 non-null    int64
 6   ACTIVITY       145 non-null    int64
 7   PARTNER        145 non-null    int64
 8   SALARY         145 non-null    int64
 9   TRANSPORT      145 non-null    int64
 10  LIVING         145 non-null    int64
 11  MOTHER_EDU     145 non-null    int64
 12  FATHER_EDU     145 non-null    int64
 13  #_SIBLINGS     145 non-null    int64
 14  KIDS           145 non-null    int64
 15  MOTHER_JOB     145 non-null    int64
 16  FATHER_JOB     145 non-null    int64
 17  STUDY_HRS      145 non-null    int64
 18  READ_FREQ      145 non-null    int64
 19  READ_FREQ_SCI  145 non-null    int64
 20  ATTEND_DEPT    145 non-null    int64
 21  IMPACT         145 non-null    int64
 22  ATTEND         145 non-null    int64
 23  PREP_STUDY     145 non-null    int64
 24  PREP_EXAM      145 non-null    int64
 25  NOTES          145 non-null    int64
 26  LISTENS        145 non-null    int64
 27  LIKES_DISCUSS  145 non-null    int64
 28  CLASSROOM      145 non-null    int64
 29  CUML_GPA       145 non-null    int64
 30  EXP_GPA        145 non-null    int64
 31  COURSE ID      145 non-null    int64
 32  GRADE          145 non-null    int64
dtypes: int64(32), object(1)
memory usage: 37.5+ KB
None

In [ ]:
X1 = df[['AGE', 'GENDER', 'HS_TYPE', 'SCHOLARSHIP', 'WORK', 'ACTIVITY', 'PARTNER', 'SALARY', 'TRANSPORT', 'LIVING', 'MOTHER_EDU', 'FATHER_EDU', '#_SIBLINGS', 'KIDS', 'MOTHER_JOB', 'FATHER_JOB', 'STUDY_HRS', 'READ_FREQ', 'READ_FREQ_SCI', 'ATTEND_DEPT', 'IMPACT', 'ATTEND', 'PREP_STUDY', 'PREP_EXAM', 'NOTES', 'LISTENS', 'LIKES_DISCUSS', 'CLASSROOM', 'CUML_GPA', 'EXP_GPA']].to_numpy()                 #converte dataframe in array
Y1 = df[['GRADE']].to_numpy()

X2 = np.array(X1, dtype=float)                                                       #converte i valori della variabile in float64
                                                                #scambia le righe con le colonne di un array, sicuramente funziona sia con matrici che con vettori
Y2 = np.array(Y1, dtype=float)



print(X2)



print(Y2)

Squared normalization

In [ ]:
X = normalize(X2, norm='l2')

MinMaxRegularization

In [10]:
scaler = MinMaxScaler(feature_range=(0, 10))                                      # regularization

X = scaler.fit_transform(X2)



scaler = MinMaxScaler(feature_range=(0, 30))

Y = scaler.fit_transform(Y2)

print(X)
print(Y)

[[ 5.         10.         10.         ...  5.          0.
   0.        ]
 [ 5.         10.         10.         ...  5.          2.5
   6.66666667]
 [ 5.         10.          5.         ...  0.          2.5
   3.33333333]
 ...
 [ 0.          0.          0.         ...  0.          7.5
   6.66666667]
 [ 5.          0.          5.         ...  0.         10.
   6.66666667]
 [ 0.          0.          0.         ...  0.         10.
  10.        ]]
[[ 4.28571429]
 [ 4.28571429]
 [ 4.28571429]
 [ 4.28571429]
 [ 4.28571429]
 [ 8.57142857]
 [21.42857143]
 [ 8.57142857]
 [21.42857143]
 [ 0.        ]
 [ 8.57142857]
 [ 0.        ]
 [ 0.        ]
 [ 4.28571429]
 [ 8.57142857]
 [ 8.57142857]
 [ 4.28571429]
 [ 8.57142857]
 [ 8.57142857]
 [12.85714286]
 [ 4.28571429]
 [ 4.28571429]
 [12.85714286]
 [ 4.28571429]
 [ 8.57142857]
 [12.85714286]
 [ 4.28571429]
 [ 4.28571429]
 [12.85714286]
 [21.42857143]
 [21.42857143]
 [12.85714286]
 [ 4.28571429]
 [ 8.57142857]
 [ 8.57142857]
 [ 4.28571429]
 [ 8.57142857]
 [ 4.28571429]
 [ 8.57142857]
 [ 4.28571429]
 [ 4.28571429]
 [ 4.28571429]
 [ 4.28571429]
 [17.14285714]
 [ 4.28571429]
 [12.85714286]
 [21.42857143]
 [12.85714286]
 [ 4.28571429]
 [ 8.57142857]
 [ 4.28571429]
 [17.14285714]
 [ 4.28571429]
 [21.42857143]
 [12.85714286]
 [12.85714286]
 [21.42857143]
 [17.14285714]
 [12.85714286]
 [21.42857143]
 [ 8.57142857]
 [21.42857143]
 [12.85714286]
 [21.42857143]
 [12.85714286]
 [ 8.57142857]
 [21.42857143]
 [ 4.28571429]
 [21.42857143]
 [21.42857143]
 [30.        ]
 [25.71428571]
 [25.71428571]
 [25.71428571]
 [30.        ]
 [30.        ]
 [17.14285714]
 [30.        ]
 [17.14285714]
 [12.85714286]
 [17.14285714]
 [12.85714286]
 [30.        ]
 [30.        ]
 [30.        ]
 [17.14285714]
 [21.42857143]
 [25.71428571]
 [25.71428571]
 [25.71428571]
 [25.71428571]
 [25.71428571]
 [30.        ]
 [17.14285714]
 [25.71428571]
 [21.42857143]
 [30.        ]
 [25.71428571]
 [30.        ]
 [30.        ]
 [25.71428571]
 [30.        ]
 [30.        ]
 [30.        ]
 [12.85714286]
 [30.        ]
 [30.        ]
 [25.71428571]
 [25.71428571]
 [30.        ]
 [ 8.57142857]
 [ 8.57142857]
 [ 8.57142857]
 [ 4.28571429]
 [ 8.57142857]
 [ 4.28571429]
 [ 4.28571429]
 [ 4.28571429]
 [ 4.28571429]
 [ 8.57142857]
 [ 4.28571429]
 [ 0.        ]
 [ 8.57142857]
 [ 4.28571429]
 [12.85714286]
 [ 8.57142857]
 [12.85714286]
 [ 4.28571429]
 [ 0.        ]
 [12.85714286]
 [ 4.28571429]
 [17.14285714]
 [12.85714286]
 [12.85714286]
 [ 4.28571429]
 [ 8.57142857]
 [ 0.        ]
 [ 8.57142857]
 [ 0.        ]
 [ 0.        ]
 [21.42857143]
 [21.42857143]
 [ 4.28571429]
 [17.14285714]
 [12.85714286]]

In [ ]:
print(X.shape)
print(Y.shape)

(145, 30)
(145, 1)

La funzione train_test_split di scikit-learn è utilizzata per dividere un dataset in due sottoinsiemi casuali di addestramento e test. I parametri della funzione sono i seguenti:

arrays: una sequenza di oggetti con la stessa lunghezza o forma. Gli input ammessi sono liste, array NumPy, matrici sparse SciPy o DataFrame pandas.
test_size: la proporzione del dataset da includere nel sottoinsieme di test. Se è un intero, rappresenta il numero assoluto di campioni di test. Se è None, il valore viene impostato sul complemento della dimensione del set di addestramento. Se train_size è anche None, viene impostato su 0,25.
train_size: la proporzione del dataset da includere nel sottoinsieme di addestramento. Se è un intero, rappresenta il numero assoluto di campioni di addestramento. Se è None, il valore viene impostato automaticamente sul complemento della dimensione del set di test.
random_state: controlla la casualità applicata ai dati prima dell’applicazione della suddivisione. Passare un intero per una riproducibilità ripetibile.
shuffle: se True, i dati vengono mescolati prima della suddivisione.
stratify: se non è None, i dati vengono suddivisi in modo stratificato, utilizzando questo come etichette di classe.

In [ ]:
from sklearn.model_selection import train_test_split

# X e Y sono nel blocco in alto

# trasposizione array
X_T = X.T

# Divisione per colonne
X_train_T, X_test_T = train_test_split(X_T, test_size=0.3)

# Divisione per righe di Y
#Y_train, Y_test = train_test_split(Y, test_size=0.3)                 # Non è necessario

# Ri-trasposizione dei risultati
X_train = X_train_T.T
X_test = X_test_T.T

print("Array originale:\n", X)
print("Array diviso per colonne:\n", X_train, "\n", X_test)
#print("Array originale:\n", Y)
#print("Array diviso per colonne:\n", Y_train, "\n", Y_test)

In [18]:
print(X_train.shape)
print(X_test.shape)
print(Y.shape)
#print(Y_train.shape)
#print(Y_test.shape)

(145, 21)
(145, 9)
(145, 1)

Per determinare le colonne più influenti, puoi utilizzare tecniche di selezione delle feature come l’analisi delle componenti principali (PCA) o la regressione Lasso 1. Queste tecniche possono aiutare a identificare le colonne che hanno il maggiore impatto sul modello.

In alternativa, puoi utilizzare la funzione f_regression di scikit-learn per calcolare il coefficiente di correlazione tra ogni colonna e il target 2. Questo ti darà un’idea di quali colonne sono più correlate al target e quindi potrebbero essere più influenti.

Ecco un esempio di come utilizzare f_regression per calcolare il coefficiente di correlazione tra ogni colonna e il target:

In [19]:
from sklearn.feature_selection import f_regression



# Calcolo del coefficiente di correlazione
f_values, p_values = f_regression(X, Y)

# Stampa dei risultati
for i in range(len(f_values)):
    print("Colonna", i+1, "- Coefficiente di correlazione:", f_values[i])

Colonna 1 - Coefficiente di correlazione: 1.3092890677354985
Colonna 2 - Coefficiente di correlazione: 18.141749308601277
Colonna 3 - Coefficiente di correlazione: 1.5886617993709153
Colonna 4 - Coefficiente di correlazione: 0.08216042853423179
Colonna 5 - Coefficiente di correlazione: 4.125078761181853
Colonna 6 - Coefficiente di correlazione: 0.5696984278425363
Colonna 7 - Coefficiente di correlazione: 0.38440324123678654
Colonna 8 - Coefficiente di correlazione: 4.069838363332964
Colonna 9 - Coefficiente di correlazione: 3.5804199570721296
Colonna 10 - Coefficiente di correlazione: 0.08024872928119885
Colonna 11 - Coefficiente di correlazione: 0.6317085885509613
Colonna 12 - Coefficiente di correlazione: 0.5790223577301122
Colonna 13 - Coefficiente di correlazione: 1.0276626541062155
Colonna 14 - Coefficiente di correlazione: 0.6328627585713845
Colonna 15 - Coefficiente di correlazione: 0.13531764980279326
Colonna 16 - Coefficiente di correlazione: 0.28077845930223383
Colonna 17 - Coefficiente di correlazione: 0.1565165598453364
Colonna 18 - Coefficiente di correlazione: 5.689768280610027
Colonna 19 - Coefficiente di correlazione: 0.0014541326015193004
Colonna 20 - Coefficiente di correlazione: 5.054152274617299
Colonna 21 - Coefficiente di correlazione: 6.163389776778024
Colonna 22 - Coefficiente di correlazione: 2.840695665239277
Colonna 23 - Coefficiente di correlazione: 0.030645972283559378
Colonna 24 - Coefficiente di correlazione: 0.7827341368643115
Colonna 25 - Coefficiente di correlazione: 0.2883877178290078
Colonna 26 - Coefficiente di correlazione: 1.044070222686589
Colonna 27 - Coefficiente di correlazione: 3.1384588873215873
Colonna 28 - Coefficiente di correlazione: 1.7714353280502617
Colonna 29 - Coefficiente di correlazione: 15.80694348932981
Colonna 30 - Coefficiente di correlazione: 9.418864063778129

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In questo esempio, l’array X rappresenta le colonne e l’array y rappresenta il target. La funzione f_regression viene quindi applicata all’array X per calcolare il coefficiente di correlazione tra ogni colonna e il target. Infine, i risultati vengono stampati a schermo.

Il coefficiente di correlazione è una misura statistica che esprime il grado di relazione lineare tra due variabili. Il coefficiente di correlazione varia da -1 a 1, dove -1 indica una correlazione negativa perfetta, 0 indica nessuna correlazione, e 1 indica una correlazione positiva perfetta .

In generale, i valori più alti del coefficiente di correlazione indicano una maggiore correlazione tra le colonne e il target. Questo significa che le colonne con valori più alti hanno un maggiore impatto sul target e quindi potrebbero essere più influenti. Tuttavia, bisogna fare attenzione a non confondere correlazione con causalità, in quanto una forte correlazione non implica necessariamente una relazione causale tra le variabili .