<a href="https://colab.research.google.com/github/Tonainings/BigDataProject_Poliba/blob/main/V2_Regularization_ProjectPOLIBA_RegressioneMultipla.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import normalize
import math, copy
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

In [2]:
df=pd.read_csv("_student_prediction.csv")

df.head(10)

,STUDENTID,AGE,GENDER,HS_TYPE,SCHOLARSHIP,WORK,ACTIVITY,PARTNER,SALARY,TRANSPORT,...,PREP_STUDY,PREP_EXAM,NOTES,LISTENS,LIKES_DISCUSS,CLASSROOM,CUML_GPA,EXP_GPA,COURSE ID,GRADE
0,STUDENT1,2,2,3,3,1,2,2,1,1,...,1,1,3,2,1,2,1,1,1,1
1,STUDENT2,2,2,3,3,1,2,2,1,1,...,1,1,3,2,3,2,2,3,1,1
2,STUDENT3,2,2,2,3,2,2,2,2,4,...,1,1,2,2,1,1,2,2,1,1
3,STUDENT4,1,1,1,3,1,2,1,2,1,...,1,2,3,2,2,1,3,2,1,1
4,STUDENT5,2,2,1,3,2,2,1,3,1,...,2,1,2,2,2,1,2,2,1,1
5,STUDENT6,2,2,2,3,2,2,2,2,1,...,1,1,1,2,1,2,4,4,1,2
6,STUDENT7,1,2,2,4,2,2,2,1,1,...,1,1,3,3,3,3,4,4,1,5
7,STUDENT8,1,1,2,3,1,1,1,2,2,...,3,1,3,2,2,1,1,1,1,2
8,STUDENT9,2,1,3,3,2,1,1,1,1,...,1,1,3,2,2,2,4,3,1,5
9,STUDENT10,2,1,2,3,2,2,1,3,4,...,1,1,2,2,2,2,1,2,1,0

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 33 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   STUDENTID      145 non-null    object
 1   AGE            145 non-null    int64
 2   GENDER         145 non-null    int64
 3   HS_TYPE        145 non-null    int64
 4   SCHOLARSHIP    145 non-null    int64
 5   WORK           145 non-null    int64
 6   ACTIVITY       145 non-null    int64
 7   PARTNER        145 non-null    int64
 8   SALARY         145 non-null    int64
 9   TRANSPORT      145 non-null    int64
 10  LIVING         145 non-null    int64
 11  MOTHER_EDU     145 non-null    int64
 12  FATHER_EDU     145 non-null    int64
 13  #_SIBLINGS     145 non-null    int64
 14  KIDS           145 non-null    int64
 15  MOTHER_JOB     145 non-null    int64
 16  FATHER_JOB     145 non-null    int64
 17  STUDY_HRS      145 non-null    int64
 18  READ_FREQ      145 non-null    int64
 19  READ_FREQ_SCI  145 non-null    int64
 20  ATTEND_DEPT    145 non-null    int64
 21  IMPACT         145 non-null    int64
 22  ATTEND         145 non-null    int64
 23  PREP_STUDY     145 non-null    int64
 24  PREP_EXAM      145 non-null    int64
 25  NOTES          145 non-null    int64
 26  LISTENS        145 non-null    int64
 27  LIKES_DISCUSS  145 non-null    int64
 28  CLASSROOM      145 non-null    int64
 29  CUML_GPA       145 non-null    int64
 30  EXP_GPA        145 non-null    int64
 31  COURSE ID      145 non-null    int64
 32  GRADE          145 non-null    int64
dtypes: int64(32), object(1)
memory usage: 37.5+ KB
None

In [4]:
X1 = df[['AGE', 'GENDER', 'HS_TYPE', 'SCHOLARSHIP', 'WORK', 'ACTIVITY', 'PARTNER', 'SALARY', 'TRANSPORT', 'LIVING', 'MOTHER_EDU', 'FATHER_EDU', '#_SIBLINGS', 'KIDS', 'MOTHER_JOB', 'FATHER_JOB', 'STUDY_HRS', 'READ_FREQ', 'READ_FREQ_SCI', 'ATTEND_DEPT', 'IMPACT', 'ATTEND', 'PREP_STUDY', 'PREP_EXAM', 'NOTES', 'LISTENS', 'LIKES_DISCUSS', 'CLASSROOM', 'CUML_GPA', 'EXP_GPA']].to_numpy()                 #converte dataframe in array
Y1 = df[['GRADE']].to_numpy()

X2 = np.array(X1, dtype=float)                                                       #converte i valori della variabile in float64
                                                                #scambia le righe con le colonne di un array, sicuramente funziona sia con matrici che con vettori
Y2 = np.array(Y1, dtype=float)



print(X2)



print(Y2)

[[2. 2. 3. ... 2. 1. 1.]
 [2. 2. 3. ... 2. 2. 3.]
 [2. 2. 2. ... 1. 2. 2.]
 ...
 [1. 1. 1. ... 1. 4. 3.]
 [2. 1. 2. ... 1. 5. 3.]
 [1. 1. 1. ... 1. 5. 4.]]
[[1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [2.]
 [5.]
 [2.]
 [5.]
 [0.]
 [2.]
 [0.]
 [0.]
 [1.]
 [2.]
 [2.]
 [1.]
 [2.]
 [2.]
 [3.]
 [1.]
 [1.]
 [3.]
 [1.]
 [2.]
 [3.]
 [1.]
 [1.]
 [3.]
 [5.]
 [5.]
 [3.]
 [1.]
 [2.]
 [2.]
 [1.]
 [2.]
 [1.]
 [2.]
 [1.]
 [1.]
 [1.]
 [1.]
 [4.]
 [1.]
 [3.]
 [5.]
 [3.]
 [1.]
 [2.]
 [1.]
 [4.]
 [1.]
 [5.]
 [3.]
 [3.]
 [5.]
 [4.]
 [3.]
 [5.]
 [2.]
 [5.]
 [3.]
 [5.]
 [3.]
 [2.]
 [5.]
 [1.]
 [5.]
 [5.]
 [7.]
 [6.]
 [6.]
 [6.]
 [7.]
 [7.]
 [4.]
 [7.]
 [4.]
 [3.]
 [4.]
 [3.]
 [7.]
 [7.]
 [7.]
 [4.]
 [5.]
 [6.]
 [6.]
 [6.]
 [6.]
 [6.]
 [7.]
 [4.]
 [6.]
 [5.]
 [7.]
 [6.]
 [7.]
 [7.]
 [6.]
 [7.]
 [7.]
 [7.]
 [3.]
 [7.]
 [7.]
 [6.]
 [6.]
 [7.]
 [2.]
 [2.]
 [2.]
 [1.]
 [2.]
 [1.]
 [1.]
 [1.]
 [1.]
 [2.]
 [1.]
 [0.]
 [2.]
 [1.]
 [3.]
 [2.]
 [3.]
 [1.]
 [0.]
 [3.]
 [1.]
 [4.]
 [3.]
 [3.]
 [1.]
 [2.]
 [0.]
 [2.]
 [0.]
 [0.]
 [5.]
 [5.]
 [1.]
 [4.]
 [3.]]

Squared normalization

In [5]:
X = normalize(X2, norm='l2')

MinMaxRegularization

In [11]:
scaler = MinMaxScaler(feature_range=(0, 10))                                      # regularization

X = scaler.fit_transform(X2)



scaler = MinMaxScaler(feature_range=(0, 30))

Y = scaler.fit_transform(Y2)

print(X)
print(Y)

[[ 5.         10.         10.         ...  5.          0.
   0.        ]
 [ 5.         10.         10.         ...  5.          2.5
   6.66666667]
 [ 5.         10.          5.         ...  0.          2.5
   3.33333333]
 ...
 [ 0.          0.          0.         ...  0.          7.5
   6.66666667]
 [ 5.          0.          5.         ...  0.         10.
   6.66666667]
 [ 0.          0.          0.         ...  0.         10.
  10.        ]]
[[ 4.28571429]
 [ 4.28571429]
 [ 4.28571429]
 [ 4.28571429]
 [ 4.28571429]
 [ 8.57142857]
 [21.42857143]
 [ 8.57142857]
 [21.42857143]
 [ 0.        ]
 [ 8.57142857]
 [ 0.        ]
 [ 0.        ]
 [ 4.28571429]
 [ 8.57142857]
 [ 8.57142857]
 [ 4.28571429]
 [ 8.57142857]
 [ 8.57142857]
 [12.85714286]
 [ 4.28571429]
 [ 4.28571429]
 [12.85714286]
 [ 4.28571429]
 [ 8.57142857]
 [12.85714286]
 [ 4.28571429]
 [ 4.28571429]
 [12.85714286]
 [21.42857143]
 [21.42857143]
 [12.85714286]
 [ 4.28571429]
 [ 8.57142857]
 [ 8.57142857]
 [ 4.28571429]
 [ 8.57142857]
 [ 4.28571429]
 [ 8.57142857]
 [ 4.28571429]
 [ 4.28571429]
 [ 4.28571429]
 [ 4.28571429]
 [17.14285714]
 [ 4.28571429]
 [12.85714286]
 [21.42857143]
 [12.85714286]
 [ 4.28571429]
 [ 8.57142857]
 [ 4.28571429]
 [17.14285714]
 [ 4.28571429]
 [21.42857143]
 [12.85714286]
 [12.85714286]
 [21.42857143]
 [17.14285714]
 [12.85714286]
 [21.42857143]
 [ 8.57142857]
 [21.42857143]
 [12.85714286]
 [21.42857143]
 [12.85714286]
 [ 8.57142857]
 [21.42857143]
 [ 4.28571429]
 [21.42857143]
 [21.42857143]
 [30.        ]
 [25.71428571]
 [25.71428571]
 [25.71428571]
 [30.        ]
 [30.        ]
 [17.14285714]
 [30.        ]
 [17.14285714]
 [12.85714286]
 [17.14285714]
 [12.85714286]
 [30.        ]
 [30.        ]
 [30.        ]
 [17.14285714]
 [21.42857143]
 [25.71428571]
 [25.71428571]
 [25.71428571]
 [25.71428571]
 [25.71428571]
 [30.        ]
 [17.14285714]
 [25.71428571]
 [21.42857143]
 [30.        ]
 [25.71428571]
 [30.        ]
 [30.        ]
 [25.71428571]
 [30.        ]
 [30.        ]
 [30.        ]
 [12.85714286]
 [30.        ]
 [30.        ]
 [25.71428571]
 [25.71428571]
 [30.        ]
 [ 8.57142857]
 [ 8.57142857]
 [ 8.57142857]
 [ 4.28571429]
 [ 8.57142857]
 [ 4.28571429]
 [ 4.28571429]
 [ 4.28571429]
 [ 4.28571429]
 [ 8.57142857]
 [ 4.28571429]
 [ 0.        ]
 [ 8.57142857]
 [ 4.28571429]
 [12.85714286]
 [ 8.57142857]
 [12.85714286]
 [ 4.28571429]
 [ 0.        ]
 [12.85714286]
 [ 4.28571429]
 [17.14285714]
 [12.85714286]
 [12.85714286]
 [ 4.28571429]
 [ 8.57142857]
 [ 0.        ]
 [ 8.57142857]
 [ 0.        ]
 [ 0.        ]
 [21.42857143]
 [21.42857143]
 [ 4.28571429]
 [17.14285714]
 [12.85714286]]

In [7]:
print(X.shape)
print(Y.shape)

(145, 30)
(145, 1)

# Multiple Linear Regression to predict Y from X

In [8]:
def compute_multiple_cost(X, Y, W, b):

  m = X.shape[0]

  cost = 0

  for i in range(m):   #for i = 1 : m
    X_i = X[i,:]
    f_Wb = np.dot(W, X_i) + b
    err_i = (f_Wb - Y[i])**2
    cost = cost + err_i
    total_cost=(1/(2*m))*cost
  return total_cost


W = np.array([1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ])
#W = np.random.randn(30)
b = 0

total_cost = compute_multiple_cost(X, Y, W, b)


print ('for b={} and W randomic, total_cost={}'.format(b,total_cost))

for b=0 and W randomic, total_cost=[5804.33371061]

In [9]:
def compute_multiple_gradient(X, Y, W, b):

  m = X.shape[0] #number of samples
  n = X.shape[1] #number of features

  dj_dW = np.zeros(n)
  dj_db = 0

  for i in range(m): #for each sample
    X_i = X[i,:]
    f_xi = np.dot(W, X_i) + b; #prediction
    err_i = f_xi-Y[i]   #error=prediction-ground_truth
    for j in range(n): #for each features class
      x_ji = X[i, j]
      #print('f_xi = {}'.format(f_xi));
      #print('Y[i] = {}'.format(Y[i]));
      dj_dW[j] = dj_dW[j] + (1/m)*x_ji*err_i;
      #print('dj_dW[j] = {}'.format(dj_dW[j]))
    dj_db = dj_db + (1/m)*err_i;
  return dj_dW, dj_db

W = np.array([1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ])
#W = np.random.randn(30)
b = 0

dj_dW, dj_db = compute_multiple_gradient(X, Y, W, b)
#print(dj_dW,dj_db)

In [10]:
def multiple_gradient_descent (X, Y, W_in, b_in, alpha, num_iters, compute_multiple_cost, compute_multiple_gradient):

  W = W_in
  b = b_in



  for itt in range(num_iters):

    dj_dw, dj_db = compute_multiple_gradient(X, Y, W, b)
    W = W - alpha * dj_dw
    b = b - alpha * dj_db
    cost = compute_multiple_cost(X, Y, W, b)
    if itt % 100 == 0:
        print('Itteration {}:, (W,b) = ({}, {}),\n cost = {}'.format(itt, W, b,cost))
  return W, b, cost




#W_in = np.random.randn(30)
W_in = np.array([1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ])
b_in = 0
alpha = 0.003
#alpha = 0.003282 #convergenza meno lenta ยง25
#alpha = 0.0001   #convergenza lenta
num_iters = 1000
multiple_gradient_descent(X, Y, W_in, b_in, alpha, num_iters, compute_multiple_cost, compute_multiple_gradient)

Itteration 0:, (W,b) = ([-0.03425369 -0.95603941 -0.51733498 -1.05363547 -1.13323153 -0.9837734
 -0.90283251  0.48198645  0.2904023   0.22623645  0.16708374 -0.05126305
 -0.45505172  0.70313793 -0.08347783 -0.45127833  0.02487315 -0.520867
 -0.64606404  0.26287192  0.6360197   0.18376355  0.44872414  0.71629557
 -1.49894581 -0.68383251 -1.25278079 -0.35934483 -0.7261564  -0.88586371], [-0.31798867]),
 cost = [3985.90599135]
Itteration 100:, (W,b) = ([-0.56149227  0.51341946  0.46132072 -0.04444666  0.40185347 -0.10083225
  0.0285379  -0.27692276 -0.45739214  0.40579528  0.2026312   0.07770015
  0.16060077  0.29131172  0.07565792 -0.22672532 -0.05982691  0.64504009
 -0.0743971  -0.12662312 -0.2670991  -0.0381539   0.10592592  0.3333023
 -0.10281097  0.49305063  0.05522103 -0.04003474  0.60583749  0.06755017], [-0.1892253]),
 cost = [26.45076016]
Itteration 200:, (W,b) = ([-0.74307959  0.4919347   0.54049983 -0.11915968  0.38543145 -0.02653258
  0.03343422 -0.32475159 -0.50641363  0.46349653  0.20596421  0.01718147
  0.08311401  0.34123686  0.03406273 -0.3115493  -0.15345005  0.8591746
 -0.05390769 -0.15205634 -0.36012357 -0.00598081  0.14444494  0.27680392
 -0.07455692  0.54524317  0.04089276 -0.07672858  0.7293152   0.03000605], [-0.17656459]),
 cost = [25.80761927]
Itteration 300:, (W,b) = ([-0.80635005  0.48422239  0.56430831 -0.18212122  0.38678777 -0.00724639
  0.04047106 -0.31854868 -0.51050378  0.488684    0.20844868 -0.01037517
  0.06377574  0.37229132  0.00451562 -0.33053629 -0.18285097  0.92677504
 -0.04466225 -0.15129825 -0.38162578  0.00151711  0.16115065  0.25703604
 -0.05849035  0.55833492  0.03650676 -0.0837958   0.79399092  0.00386144], [-0.16105284]),
 cost = [25.71818422]
Itteration 400:, (W,b) = ([-0.83236646  0.48231124  0.57385623 -0.21991335  0.38931863 -0.00263678
  0.04546499 -0.30976732 -0.50950395  0.50113956  0.20916709 -0.02570582
  0.05735356  0.38816163 -0.01150619 -0.33417852 -0.19493216  0.94894194
 -0.0369392  -0.14826202 -0.38853466  0.00323545  0.16798204  0.24603544
 -0.04867503  0.56320556  0.03656272 -0.08545679  0.82804713 -0.01446745], [-0.14394513]),
 cost = [25.69706735]
Itteration 500:, (W,b) = ([-0.84429355  0.48199747  0.57802205 -0.24091637  0.39099246 -0.00168707
  0.04861533 -0.30410211 -0.50827926  0.50782334  0.20917112 -0.03480169
  0.05456759  0.39686357 -0.01968043 -0.33453236 -0.20047886  0.95648977
 -0.03109122 -0.14620048 -0.39141419  0.00342932  0.17110026  0.23925116
 -0.04332065  0.56501448  0.03751351 -0.08564847  0.84658329 -0.02653287], [-0.12604572]),
 cost = [25.69038055]
Itteration 600:, (W,b) = ([-0.85018222  0.4820765   0.57984887 -0.25248528  0.3919206  -0.00164817
  0.05050214 -0.30098397 -0.50746323  0.51157803  0.20896008 -0.04029297
  0.05311922  0.40187572 -0.02390659 -0.3343697  -0.20317395  0.95905991
 -0.02715506 -0.14502203 -0.39283318  0.00324976  0.1726549   0.23496005
 -0.04055305  0.56560599  0.03836195 -0.08547187  0.85689778 -0.03414896], [-0.10778051]),
 cost = [25.68754994]
Itteration 700:, (W,b) = ([-0.85326244  0.48220638  0.58060021 -0.25899403  0.39238385 -0.00181568
  0.05159459 -0.29938368 -0.50698709  0.51371481  0.20872832 -0.04363967
  0.052271    0.40482758 -0.02622128 -0.33425119 -0.20455346  0.95986802
 -0.02469921 -0.1443643  -0.39360545  0.00301467  0.1734732   0.23222335
 -0.03917341  0.56571349  0.03893686 -0.08525071  0.86271235 -0.03881775], [-0.08936524]),
 cost = [25.68586372]
Itteration 800:, (W,b) = ([-0.85497154  0.48229888  0.580845   -0.26281163  0.39257861 -0.00200929
  0.05220663 -0.29861326 -0.50671691  0.51491361  0.20853281 -0.04570817
  0.05172445  0.40658123 -0.02761198 -0.33424096 -0.20531563  0.96004423
 -0.02324731 -0.143988   -0.39405672  0.00280252  0.17391477  0.23046883
 -0.03852454  0.56563408  0.03927689 -0.08506478  0.86601591 -0.04161642], [-0.07090823]),
 cost = [25.68453951]
Itteration 900:, (W,b) = ([-0.8559914   0.48234259  0.58084835 -0.26519024  0.39262157 -0.00218803
  0.05253374 -0.29828448 -0.50655906  0.51555649  0.20837845 -0.04701679
  0.05133836  0.40762709 -0.02854909 -0.33431135 -0.20578852  0.95999872
 -0.02243142 -0.14376133 -0.39433882  0.00262394  0.17415172  0.22933561
 -0.03826228  0.56548808  0.03945209 -0.08492193  0.86790265 -0.04326179], [-0.05246421]),
 cost = [25.68333752]

(array([-0.85665236,  0.48234689,  0.58073715, -0.2667778 ,  0.39257985,
        -0.00234609,  0.05269256, -0.29818955, -0.50646043,  0.51586544,
         0.20825644, -0.04786754,  0.05104276,  0.40824831, -0.02925164,
        -0.33442944, -0.20612467,  0.95988293, -0.02200644, -0.1436158 ,
        -0.3945271 ,  0.00247411,  0.17427187,  0.22860005, -0.03820713,
         0.56532465,  0.03952011, -0.08481377,  0.86897651, -0.04420261]),
 array([-0.03424486]),
 array([25.68219296]))